---
---
@import "ospn.css";

body {
	font-family: 'Open Sans Condensed', 'Roboto', sans-serif;
}

p {
	font-size: 1.5rem;
}

.top-menu {
	border-top: 10px solid black;

	.items {

		li {
			border-top: 10px solid transparent;
			&.active {
				border-top-color: black;
			}
			a {
				color: inherit;
			}
		}
	}
}

.page-title {
	font-size: 5rem;
}

.footer {
	border-top: 10px solid black;
}