<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700">
		<link rel="stylesheet" href="style.css" />
		{% seo %}
	</head>
	<body>
		<div id="otherside-network-banner" class="otherside-network-closed">
			<div id="otherside-network-title-wrapper">
				<a href="https://otherside.network" class="otherside-network-title">The Other Side Podcast Network&nbsp;:&nbsp;</a>
				<span class="otherside-network-toggle">Our other shows</span>
			</div>
			<div id="otherside-network-banner-dropdown-wrapper">
				{% for category in site.data.ospn.categories %}
				<div class="otherside-network-banner-dropdown">
					<span>{{ category.name }}</span>								
					<div class="otherside-network-banner-category">
						{% for podcastkey in category.podcasts %}
							{% assign podcast = site.data.ospn.podcasts[podcastkey] %}
							<p><a href="{{ podcast.url }}?utm_campaign=syndication&amp;utm_source=the-otherside-podcast-network&amp;utm_medium=network&amp;utm_content=banner"><span class="otherside-network-link">{{ podcast.name }}</span></a></p>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="text-uppercase font-weight-bold">{{ site.title }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h3 class="font-weight-bold">{{ site.subtitle }}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="top-menu">
						<ul class="items float-right list-inline">
							{% for item in site.data.menu.items %}
							<li class="list-inline-item{% if item.permalink == page.url %} active{% endif %}"><a class="px-2 d-inline-block font-weight-bold" href="{{ item.permalink | absolute_url }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{{ content }}
			<div class="row">
				<div class="col">
					<div class="footer mt-5 text-center">
						<p class="mt-4" xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">
							<a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">
								<img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
							</a>
						</p>
						<p>To the extent possible under law, <a rel="dct:publisher" href="{{ site.url }}"><span property="dct:title">{{ site.author }}</span></a> has waived all copyright and related or neighboring rights to this website.</p>
						<p>This work is published from: <span property="vcard:Country" datatype="dct:ISO3166" content="{{ site.country_code }}" about="{{ site.url }}">{{ site.country }}</span>.</p>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>		
	</body>
</html>
