---
layout: base
menu: home
---
<div class="row">
	<div class="col">
		<div class="page-title font-weight-bold">
			Welcome, visitor !
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<p>It is November again, so it's time for another go at NaPodPoMo.</p>
		<p>"But Yannick", I hear you say, "what is NaPodPoMo ?"</p>
		<p>I will quote the kind of <a href="http://napodpomo.org/">official website</a> :</p>
		<blockquote class="blockquote bg-light border p-3 font-italic">
			<p class="mb-0">NaPodPoMo is a month long event along the same vein as National Novel Writing Month aka NaNoWriMo. The difference? Well, instead of writing a 50,000 word novel, you podcast every day for 30 days from November 1st-30th.</i></p>
		</blockquote>
		<p>So, let's give that a try ! But be warned, this year, I am not ready : I haven't prepared anything, I barely finished this website on time, and I'm not playing any music !</p>
		<p>With that being said, I hope you will enjoy this 2018 NaPodPoMo series !</p>
	</div>
</div>